<h1>Directory of Student Pages</h1>

<ul>
    <li><%= link_to 'Jacob-Bartlett', Jacob-Bartlett_path %></li>
    <li><%= link_to 'kxvn0', kxvn0_path %></li>
</ul>

<ul>
    <li><%= link_to 'sudok1d', sudok1d_path %></li>
</ul>
